//COLORS
$bg0: #F9F9F9;
$bg1: #0F52BA;
$bg2: #373737;
$bg3: #EEEEEE;

$textc-100: #FFF;
$textc-700: #333;
$textc-900: #2C2C2C;
$textc-1000: #000;


// BREAKPOINTS
$breakpoint-xs: 0;
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;

// CONTAINER SIZE
$container-xs: 98.1333333%;
$container-sm: 93.75%;
$container-md: 93.75%;
$container-lg: 96.7741935%;
$container-xl: 76.3888889%; //max-width: 1280px;
