* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  }
  
  html {
    scroll-behavior: smooth;
    font-size: 62.5%;
    height: 100vh;
  }
  
  body {
  font-family: "Montserrat", sans-serif !important;
  height: 100%;
  }
  body, html {
    overflow-x: hidden;
  }
  

  button {
    cursor: pointer;
    border: none;
    outline: none;
    background-color: transparent;
    color: inherit;
  }

  #__next{
    height: 100%;
  }