@use "../../styles/var.scss" as *;
@use "../../styles/mixin.scss" as mix;

.productCartCardWrapper {
  position: relative;

  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 19px 15px 19px 23px;
  background-color: $bg0;
  border-radius: 8px;

  h4 {
    max-width: 113px;
    @include mix.TextSM;
  }
  .priceTag {
    max-width: 62px;
    @include mix.PriceCart;
  }
}

.removeButton {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 9998;

  border-radius: 50%;
  background-color: $bg4;
  color: $textc-100;

  visibility: visible;
  transform: translate(50%, -50%);
  cursor: pointer;
  @include mix.Button;
  svg {
    width: 16px;
    height: 16px;
  }
}