@use '../../styles/var.scss' as *;
@use '../../styles/mixin.scss' as mix;

.footerSect{
  width: 100%;
  background-color: $bg3;
  padding: 8px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  
  position: absolute;
  bottom: 0;
}

.footerContainer{
  @include mix.ContainerXS;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@include mix.SM {
  .footerContainer{
    @include mix.ContainerSM;
  }
}
@include mix.MD {
  .footerContainer{
    @include mix.ContainerMD;
  }
}
@include mix.LG {
  .footerContainer{
    @include mix.ContainerLG;
  }
}
@include mix.XL {
  .footerContainer{
    @include mix.ContainerXL;
  }
}